@{
    ViewBag.Title = "Index";
}
<script src="/Scripts/jquery.pnotify.js"></script>

<script src="/Scripts/FuelUx/wizard.js"></script>
<link rel="stylesheet" href="/Content/jquery.pnotify.default.css" />
<link rel="stylesheet" href="/Content/jquery.pnotify.default.icons.css" />
<script src="/Scripts/knockout.validation.js"></script>
<h3>Create Your Store</h3>
<div class="wizard" id="mywizard">
    <ul class="steps">
        <li data-target="#step1" class="active">
            <span class="badge badge-info">1</span>Step 1
            <span class="chevron"></span>
        </li>
        <li data-target="#step2">
            <span class="badge badge-info">2</span>Step 2
            <span class="chevron"></span>
        </li>
    </ul>
</div>
<div class="step-content">
    <div class="step-pane active" id="step1">
        @Html.Partial("CreateStore")

    </div>
    <div class="step-pane" id="step2">
        @Html.Partial("CreateStoreAddress")
    </div>
</div>

<script>
    
</script>
