@{
    ViewBag.Title = "Index";
}
<script src="/Scripts/FuelUx/require.js"></script>
<script src="/Scripts/FuelUx/wizard.js"></script>
<h3>Create Your Store</h3>
<div class="wizard">
    <ul class="steps">
        <li data-target="#step1">
            <span class="badge badge-info">1</span>Step 1
            <span class="chevron"></span>
        </li>
    </ul>
</div>
<form data-bind="submit: addStoreAddress" class="form-horizontal">
    <div class="control-group">
        <label class="control-label">
            Store Name
        </label>
        <div class="controls">
            <input type="text" data-bind="value: newStoreNameText" placeholder="Store Name" required="required" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Store URL
        </label>
        <div class="controls">
            <input type="text" data-bind="value: newBaseUrlText" placeholder="Store URL" required="required" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Store Logo
        </label>
        <div class="controls">
            <input type="text" data-bind="value: newImageText" placeholder="Store Logo" required="required" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Store Owner
        </label>
        <div class="controls">
            <input type="text" data-bind="value: newOwnerText" placeholder="Store Owner" required="required" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Owner Email Address
        </label>
        <div class="controls">
            <input type="text" data-bind="value: newEmailText" placeholder="Store Email Address" required="required" />
        </div>
    </div>

     <div class="control-group">
        <label class="control-label">
            Address
        </label>
        <div class="controls">
            <input type="text" data-bind="value: newAddressText" placeholder="Street Address" required="required" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            City
        </label>
        <div class="controls">
            <input type="text" data-bind="value: newCityText" placeholder="Add City" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            State
        </label>
        <div class="controls">
            <input type="text" data-bind="value: newStateText" placeholder="Add State" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Zip Code
        </label>
        <div class="controls">
            <input type="text" data-bind="value: newZipCodeText" placeholder="Add Zip Code" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Phone Number
        </label>
        <div class="controls">
            <input type="text" data-bind="value: newPhoneNumberText" placeholder="Add Phone Number" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Fax Number
        </label>
        <div class="controls">
            <input type="text" data-bind="value: newFaxNumberText" placeholder="Add Fax Number" />
        </div>
    </div>
    <button type="submit" class="btn">Add Location</button>
</form>

<ul class="unstyled" data-bind="foreach: addresses, visible: addresses().length > 0">
    <li>
        <input data-bind="value: address" /></li>
    <li>
        <input data-bind="value: city" /></li>
    <li>
        <input data-bind="value: state" /></li>
    <li>
        <input data-bind="value: zipcode" /></li>
    <li>
        <input data-bind="value: phonenumber" /></li>
    <li>
        <input data-bind="value: faxnumber" /></li>
    <li>
        <a href="#" data-bind="click: $parent.removeTask">Delete</a>
    </li>
</ul>

You currently have <b data-bind="text: addresses().length">&nbsp;</b> locations

<textarea name="tasks" data-bind="value: ko.toJSON(addresses)"></textarea>
<script>
    function Store(data) {
        this.address = ko.observable(data.address);
        this.city = ko.observable(data.city);
        this.state = ko.observable(data.state);
        this.zipcode = ko.observable(data.zipcode);
        this.phonenumber = ko.observable(data.phonenumber);
        this.faxnumber = ko.observable(data.faxnumber);
        this.storeName = ko.observable(data.storeName);
        this.baseurl = ko.observable(data.baseurl);
        this.image = ko.observable(data.image);
        
        this.active = ko.observable(data.active);
        this.owner = ko.observable(data.owner);
        this.email = ko.observable(data.email);
    }

    function TaskListViewModel() {
        // Data
        var self = this;
        self.addresses = ko.observableArray([]);
        //Address Fields
        self.newAddressText = ko.observable();
        self.newCityText = ko.observable();
        self.newStateText = ko.observable();
        self.newZipCodeText = ko.observable();
        self.newPhoneNumberText = ko.observable();
        self.newFaxNumberText = ko.observable();
        //Store Fields
        self.newStoreNameText = ko.observable();
        self.newBaseUrlText = ko.observable();
        self.newImageText = ko.observable();

        
        self.newIsActiveText = ko.observable();
        self.newOwnerText = ko.observable();
        self.newEmailText = ko.observable();
        // Operations
        self.addStoreAddress = function () {
            self.addresses.push(new Store(
                {
                    address: this.newAddressText(),
                    city: this.newCityText(),
                    state: this.newStateText(),
                    zipcode: this.newZipCodeText(),
                    phonenumber: this.newPhoneNumberText(),
                    faxnumber: this.newFaxNumberText(),
                    storeName: this.newStoreNameText(),
                    baseurl: this.newBaseUrlText(),
                    image: this.newImageText(),
                    
                    active: this.newIsActiveText(),
                    owner: this.newOwnerText(),
                    email: this.newEmailText()
                }));
            self.newAddressText("");
        };
        self.removeTask = function (addresses) { self.addresses.remove(addresses); };
    }

    ko.applyBindings(new TaskListViewModel());
</script>
@*public int Id { get; set; }
        public string StoreName { get; set; }
        public string BaseUrl { get; set; }
        public string LogOutUrl { get; set; }
        public string Image { get; set; }
        public bool IsActive { get; set; }
        public bool IsGlobal { get; set; }
        public string Owner { get; set; }
        public string EmailAddress { get; set; }*@