<form data-bind="submit: createStore" id="createStoreForm" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">
                    Store Name
                </label>
                <div class="controls">
                    <input type="text" data-bind="value: newStoreNameText, validationElement:newStoreNameText" id="newStoreNameText" name="newStoreNameText" placeholder="Store Name" />
                    <p data-bind="validationMessage: newStoreNameText"></p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Store URL
                </label>
                <div class="controls">
                    <input type="text" data-bind="value: newBaseUrlText" placeholder="Store URL" required="required" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Store Logo
                </label>
                <div class="controls">
                    <input type="text" data-bind="value: newImageText" placeholder="Store Logo" required="required" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Store Owner
                </label>
                <div class="controls">
                    <input type="text" data-bind="value: newOwnerText" placeholder="Store Owner" required="required" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Owner Email Address
                </label>
                <div class="controls">
                    <input type="text" data-bind="value: newEmailText" placeholder="Store Email Address" required="required" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: newIsActiveText" />
                        Is Active? 
                    </label>
                    <button type="submit" id="wizard-next" class="btn btn-primary">Create</button>
                </div>
            </div>

        </form>