@{
    ViewBag.Title = "Tool Rental, Equipment Rental, & Repair Services | Tool Depot";
    ViewBag.Description = "Shop for all your tool & equipment needs: Boom Lift, Scissor Lift, Drills, Generators, Power Tools, Machinery Tools, Mason Frames, Scaffolding, and more at Tool Depot. The one stop shop for all your tool needs";
    ViewBag.Keywords = "Tool Rentals, Equipment Rentals, Tool Sales, Equipment Sales, Repair Services, Hardware, Machinery Tools, Power Tools, Boom Lift, Scissor Lift";
}
<h1>My Rental POS</h1>