@model MyRentalPos.Models.Order.AllOrdersModel
@{
    ViewBag.Title = "";
    ViewBag.Description = "";
    ViewBag.Keywords = "";
}


@if (!Model.SavedOrders.Any() && !Model.CancelledOrders.Any() && !Model.CompletedOrders.Any())
{
    <div>Welcome
        <br/>
    </div>
}
else
{
    <ul class="nav nav-tabs" id="homepageTabs">
        @if (Model.CompletedOrders.Any())
        {
            <li>
                <a data-toggle="tab" href="#completed">Completed Orders
                </a>
            </li>
        }
        @if (Model.SavedOrders.Any())
        {
            <li>
                <a data-toggle="tab" href="#saved">Saved Orders
                </a>
            </li>
        }
        @if (Model.CancelledOrders.Any())
        {
            <li>
                <a data-toggle="tab" href="#cancelled">Cancelled Orders
                </a>
            </li>
        }
    </ul>

    <div class="tab-content" id="homepageTabPanes">
        @if (Model.CompletedOrders.Any())
        {
            <div class="tab-pane" id="completed">
                <table class="table table-striped">
                    <tr>
                        <td>Id
                        </td>
                    </tr>
                    @foreach (var completed in Model.CompletedOrders)
                    {
                        <tr>
                            <td>
                                @completed.Id
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
        @if (Model.SavedOrders.Any())
        {
            <div class="tab-pane " id="saved">
                <table class="table table-striped">
                    <tr>
                        <td>Id
                        </td>
                    </tr>
                    @foreach (var saved in Model.SavedOrders)
                    {
                        <tr>
                            <td>
                                @saved.Id
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
        @if (Model.CancelledOrders.Any())
        {
            <div class="tab-pane" id="cancelled">
                <table class="table table-striped">
                    <tr>
                        <td>Id
                        </td>
                    </tr>
                    @foreach (var cancelled in Model.CancelledOrders)
                    {
                        <tr>
                            <td>
                                @cancelled.Id
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>

    <script>
        $("#homepageTabs li:first-child").addClass('active');
        $("#homepageTabPanes > div:first-child").addClass('active');
    </script>
}